@white:#fff;
@textColor:#333;
@dcdfe6:#dcdfe6; // 边框线颜色
@409eff:#409eff; // 主颜色
@c6e2ff:#c6e2ff;// 按钮hover 和 focus 边框颜色
@ecf5ff:#ecf5ff;// 按钮hover 和 focus 背景颜色
@3a8ee6:#3a8ee6;// 按钮active 边框和背景颜色
@c0c4cc:#c0c4cc;// 按钮不可点 颜色
@ebeef5:#ebeef5;// 按钮不可点 背景颜色
@66b1ff:#66b1ff;// 文字按钮颜色
@b3d8ff:#b3d8ff;// 主要按钮朴素边框颜色
@67c23a:#67c23a;// 成功按钮颜色
@f0f9eb:#f0f9eb;// 成功按钮朴素背景颜色
@c2e7b0:#c2e7b0;// 成功按钮朴素边框颜色
@5daf34:#5daf34;// 成功按钮朴素active边框颜色
@85ce61:#85ce61;// 成功按钮active颜色
@e6a23c:#e6a23c;// 警告按钮颜色
@fdf6ec:#fdf6ec;// 警告按钮朴素颜色
@ebb563:#ebb563;// 警告按钮active颜色
@cf9236:#cf9236;// 警告按钮朴素active颜色
@f56c6c:#f56c6c;// 错误按钮颜色
@fef0f0:#fef0f0;// 错误按钮朴素颜色
@fbc4c4:#fbc4c4;// 错误按钮朴素边框颜色
@dd6161:#dd6161;// 错误按钮朴素active颜色
@f78989:#f78989;// 错误按钮active颜色

